extends layout

block content
  h3 Product Summary
  != summary

  h3 Recommended Games
  table.table.table-striped
      tbody
        tr
          td.span1
            img.img-polaroid(src='/games/img/borderlands2.jpeg')
          td
            a(href='#')
              strong Borderlands 2
            button.btn.btn-primary.btn-mini
              i.icon-shopping-cart.icon-white
              |  $59.99
            div
              i.icon-plus
              i.icon-plus
              i.icon-plus
              i.icon-plus
              i.icon-plus
            div
              small.muted Release Date: Sep. 18, 2012 | Genre: Sci-Fi First-Person Shooter

        tr
          td
            img.img-polaroid(src='/games/img/wow.jpeg')
          td
            a(href='#')
              strong World of Warcraft
            button.btn.btn-primary.btn-mini.disabled
              i.icon-shopping-cart.icon-white
              |  Purchased
            div
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
            div
              small.muted Release Date: Nov 23, 2004 | Genre: Fantasy Online Role-Playing
        tr
          td
            img.img-polaroid(src='/games/img/gw2.jpeg')
          td
            a(href='#')
              strong Guild Wars 2
            button.btn.btn-primary.btn-mini
              i.icon-shopping-cart.icon-white
              |  $53.99
            div
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
            div
              small.muted Release Date: Aug 28, 2012 | Genre: Fantasy Online Role-Playing
          tr
            td
              img.img-polaroid(src='/games/img/lol.jpeg')
            td
              a(href='#')
                strong League of Legends
              button.btn.btn-primary.btn-mini
                i.icon-shopping-cart.icon-white
                |  $29.99
              div
                strong
                  small Recommendations:
                    |  18
              div
                small.muted Release Date: Oct 27, 2009 | Genre: MOBA

