extends layout

block content
  h3 Product Summary
  p
    i Borderlands 2
    |  is a hybrid First-Person Shooter, RPG game focused on over-the-top co-op play, and set in the open-world game environment of the planet Pandora. The second game in the game series,
    i Borderlands 2
    | raises the 'loot and shoot' action of the original game with an even larger and more detailed world to explore, an updated gun system, a new cast of characters and character classes, and integration of storyline with action.
  .leftImage(style='width: 150px;')
    img(alt='Borderlands 2 game logo', title='Borderlands 2 game logo', src='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.logo.200.jpg', border='0', width='150', height='109')
  .rightImage(style='width: 300px;')
    a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.01.lg.jpg', target='_blank')
      img(alt='A Gunzerker character dual-wielding weapons against enemies in Borderlands 2', title='A Gunzerker character dual-wielding weapons against enemies in Borderlands 2', src='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.01.sm.jpg', border='0', width='300', height='169')
    .imageCaption
      | The over-the-top 'loot and shoot' action of the Borderlands game universe returns with a new characters and character classes.
      br
      a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.01.lg.jpg', target='_blank')
  h4 Over-the-Top 'Shoot and Loot' Action Returns
  p
    i Borderlands 2
    | , sequel to the critically acclaimed and best selling              role-playing-shooter hybrid, once again delivers its unique flavor,              characters and addictive nonstop collaborative loot-shoot gameplay.              As in the original game,
    i Borderlands 2
    | features an openworld              game environment, but this time around the world players experience              is larger and packed with more depth at all levels. The game features              an all-new cast of characters, skills, environments, enemies, weapons,              and equipment that come together in a carefully crafted and connected              story. Make new friends, arm them to the teeth and fight alongside              them on a relentless quest for revenge and redemption through the              undiscovered and unpredictable living world of Pandora.
  h4 Key Game Features
  ul
    li
      b All-New Characters and Classes
      | - Choose from all new characters and classes including the Gunzerker, who can dual-wield any two weapons in the game. Dual machine guns? Cool. Dual rocket launchers? Of course. Dual sniper rifles? sure, if that’s your thing.
    li
      b Play Online with Friends
      | - Share your adventures with friends both online and via LAN through a seamless system enabling you to drop in and drop out of a campaign without ever having to restart the game.
    li
      b World Connected Story
      | - Left for dead in the frozen tundra of Pandora, begin your quest of revenge and redemption as the story drives you closer to the Hyperion Corporation and its evil founder, handsome Jack.
    li
      b New Badass Gun System
      | - Millions upon millions of possible weapons means tons of new and innovative ways to engage foes on Pandora. Fire, electricity, corrosive acid, and more will all be at your disposal.
    li
      b 87 Bazillion...Everything
      | - It's not just guns on Pandora, you will lust after procedurally generated shields, grenades, alien artifacts, class mods and much, much more.
    li
      b Brand-new Environments
      | - From the arctic tundra, through the                dangerous grasslands, past the mysterious corrosive caverns to beyond,                discover more of the unpredictable world of Pandora at every turn.
    li
      b Brand-new Enemies
      | - Hulking, gorilla-like Bullymongs, vicious                predatory stalkers and the hyperion mechanical army, run by handsome                Jack, are just some of the new enemies you will face.
  h4 Additional Screenshots
  table(align='center')
    tbody
      tr(cellspacing='0', align='center', cellpadding='3')
        td(width='208px', cellpadding='0', cellspacing='0')
          .centerImage
            a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.02.lg.jpg', target='_blank')
              img(alt='Co-op screenshot from Borderlands 2', title='Co-op screenshot from Borderlands 2', src='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.02.sm.jpg', border='0', width='200', height='150')
            .imageCaption
              | Continued focus on co-op play.
              br
              a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.02.lg.jpg', target='_blank')
        td(width='208px', cellpadding='3')
          .centerImage
            a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.03.lg.jpg', target='_blank')
              img(alt='Huge enemies in action in Borderlands 2', title='Huge enemies in action in Borderlands 2', src='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.03.sm.jpg', border='0', width='200', height='150')
            .imageCaption
              | Hybrid FPS and RPG gameplay.
              br
              a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.03.lg.jpg', target='_blank')
        td(width='208px', cellpadding='3')
          .centerImage
            a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.04.lg.jpg', target='_blank')
              img(alt='An FPS perspective in combat from Borderlands 2', title='An FPS perspective in combat from Borderlands 2', src='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.04.sm.jpg', border='0', width='200', height='150')
            .imageCaption
              | New badass gun system.
              br
              a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.04.lg.jpg', target='_blank')
        td(width='208px', cellpadding='3')
          .centerImage
            a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.05.lg.jpg', target='_blank')
              img(alt='Enemies attacking in a detailed landscape within Borderlands 2', title='Enemies attacking in a detailed landscape within Borderlands 2', src='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.05.sm.jpg', border='0', width='200', height='150')
            .imageCaption
              | More detailed open-world.
              br
              a(href='https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/borderlands2.05.lg.jpg', target='_blank')
  h3 Recommended Games
  table.table.table-striped
      tbody
        tr
          td.span1
            img.img-polaroid(src='/games/img/borderlands2.jpeg')
          td
            a(href='#')
              strong Borderlands 2
            button.btn.btn-primary.btn-mini
              i.icon-shopping-cart.icon-white
              |  $59.99
            div
              i.icon-plus
              i.icon-plus
              i.icon-plus
              i.icon-plus
              i.icon-plus
            div
              small.muted Release Date: Sep. 18, 2012 | Genre: Sci-Fi First-Person Shooter

        tr
          td
            img.img-polaroid(src='/games/img/wow.jpeg')
          td
            a(href='#')
              strong World of Warcraft
            button.btn.btn-primary.btn-mini.disabled
              i.icon-shopping-cart.icon-white
              |  Purchased
            div
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
            div
              small.muted Release Date: Nov 23, 2004 | Genre: Fantasy Online Role-Playing
        tr
          td
            img.img-polaroid(src='/games/img/gw2.jpeg')
          td
            a(href='#')
              strong Guild Wars 2
            button.btn.btn-primary.btn-mini
              i.icon-shopping-cart.icon-white
              |  $53.99
            div
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
            div
              small.muted Release Date: Aug 28, 2012 | Genre: Fantasy Online Role-Playing
          tr
            td
              img.img-polaroid(src='/games/img/lol.jpeg')
            td
              a(href='#')
                strong League of Legends
              button.btn.btn-primary.btn-mini
                i.icon-shopping-cart.icon-white
                |  $29.99
              div
                strong
                  small Recommendations:
                    |  18
              div
                small.muted Release Date: Oct 27, 2009 | Genre: MOBA

