extends layout

block content
  h3 Product Summary
  != summary
  hr
  .alert.alert-success
    h4 Recommended Games
    div Our recommendation engine has picked the following games that you may also enjoy.
  table.table
      tbody
        tr
          td.span1
            img.img-polaroid(src='/games/img/wow.jpeg')
          td
            a(href='#')
              strong World of Warcraft

            div
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
              i.icon-star
            div
              small.muted Release Date: Nov 23, 2004 | Genre: Fantasy Online Role-Playing
          tr
            td
              img.img-polaroid(src='/games/img/lol.jpeg')
            td
              a(href='#')
                strong League of Legends

              div
                strong
                  small Recommendations:
                    |  18
              div
                small.muted Release Date: Oct 27, 2009 | Genre: MOBA

  .alert.alert-info
    h4 2 Comments
    div Feel free to leave a comment below about the game. We only ask you to be civil.

  for comment in comments
    table
      tbody
        tr
          td.left-table-border(rowspan=4)
          td
            strong #{comment.creator}
            |  says:
        tr
          td
            small.muted #{comment.date}
        tr
          td
            p= comment.body
        tr
          td
            .btn-group
              a.btn.btn-mini(href='#')
                i.icon-thumbs-up
                |  Like
              a.btn.btn-mini(href='#')
                i.icon-thumbs-down
                |  Dislike
              a.btn.btn-mini(href='#')
                i.icon-flag
                |  Report
    hr

  if typeof(user.userName) == 'undefined'
    .alert
      strong Login Required
      div Please sign-in if you would like to leave a comment.
  else
    i.icon-list-alt
    span.lead
      small  comment box
    form(method='post')
      .controls
        textarea#comment.span5(rows=5, name='comment')
      .controls
        button.btn.btn-primary(type='submit')
          i.icon-comment.icon-white
          |  Leave Comment