extends layout

block content
  table.table
      thead
          tr
            th A-Z
        tbody
          tr
            td.span2
              img.img-polaroid(src='/games/img/borderlands2.jpeg')
            td
              a(href='#')
                strong Borderlands 2
              button.btn.btn-primary.btn-mini
                i.icon-shopping-cart.icon-white
                |  $59.99
              button.btn.btn-success.btn-mini.disabled
                i.icon-thumbs-up.icon-white
                |  Recommend
              div
                i.icon-plus
                i.icon-plus
                i.icon-plus
                i.icon-plus
                i.icon-plus
                span.badge.badge-inverse 8.51
              div
                small.muted Release Date: Sep. 18, 2012 | Genre: Sci-Fi First-Person Shooter
              p Borderlands 2 continues in its predecessors footsteps with four new characters, tons of new quests, and lots of shooting and looting.

          tr
            td
              img.img-polaroid(src='/games/img/wow.jpeg')
            td
              a(href='#')
                strong World of Warcraft
              button.btn.btn-primary.btn-mini.disabled
                i.icon-shopping-cart.icon-white
                |  Purchased
              button.btn.btn-success.btn-mini
                i.icon-thumbs-up.icon-white
                |  Recommend
              div
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
                i.icon-star
              div
                small.muted Release Date: Nov 23, 2004 | Genre: Fantasy Online Role-Playing
              div Here is the online role-playing game you should play, no matter who you are.
          tr
            td
              img.img-polaroid(src='/games/img/gw2.jpeg')
            td
              a(href='#')
                strong Guild Wars 2
              button.btn.btn-primary.btn-mini
                i.icon-shopping-cart.icon-white
                |  $53.99
              button.btn.btn-success.btn-mini
                i.icon-thumbs-up.icon-white
                |  Recommend
              #star
              div
                small.muted Release Date: Aug 28, 2012 | Genre: Fantasy Online Role-Playing
              p Guild Wars 2 is a fantasy massively multiplayer online role-playing game and is the sequel to the episodic Guild Wars game series.
            tr
              td
                img.img-polaroid(src='/games/img/lol.jpeg')
              td
                a(href='#')
                  strong League of Legends
                button.btn.btn-primary.btn-mini
                  i.icon-shopping-cart.icon-white
                  |  $29.99
                button.btn.btn-success.btn-mini
                  i.icon-thumbs-up.icon-white
                  |  Recommend
                div
                  strong
                    small Recommendations:
                      |  18
                div
                  small.muted Release Date: Oct 27, 2009 | Genre: MOBA
                p League of Legends combines elements of role-playing and strategy genres with addictive battle action that brings accessible, replayable and competitive gameplay into a whimsical universe that deepens with the player's commitment.

