<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Clocker</title>
  <meta name="description" content="HTML/CSS theme created for themeforest.net">
  <meta name="author" content="Ithi">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- CSS: implied media="all" -->    
  <link rel="stylesheet" href="css/style.css?v=2">
  <link rel="stylesheet" href="css/960_12_col.css">
  
  <!-- Help fixing for IE browsers -->
  <!--[if lt IE 9]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
   <script src="js/libs/modernizr-1.7.min.js"></script>
</head>

<body> 
  	<div id="top-bar"></div> <!-- 10 gray pixels from top -->  	
  	
  	<div class="wrapper container_12"><!-- Main wrapper of page -->  	  	
  	<header class="header"> <!-- Header (Logo + Navigation) -->
  	
  	<div class="logo grid_4 push_4"><!-- Logo -->
  	<a href="index.html"><img src="img/logo.png" alt="logo" width="300" height="35" /></a>
  	</div>
  		
  		<!-- Main navigation -->
  		<nav class="grid_12 ">
  			<ul id="nav">
  				<li><a class="active-page" href="index.html">Home</a>
  					<ul>
  						<li><a href="index.html">Full slider</a></li>
  						<li><a href="index-slider-small.html">Small slider</a></li>
  					</ul>
  				</li>
  				<li class="nav-separator">/</li>
  				<li><a href="portfolio-aside.html">Portfolio</a>
  				<ul>
  					<li><a href="portfolio-aside.html">With sidebar</a></li>
  					<li><a href="portfolio-full.html">Full width</a></li>
  				</ul>
  				</li>
  				<li class="nav-separator">/</li>
  				<li><a href="blog.html">Blog</a></li>
  				<li class="nav-separator">/</li>
  				<li><a href="about-me.html">About me</a></li>
  				<li class="nav-separator">/</li>
  				<li><a href="full-width.html">Full width</a></li>
  				<li class="nav-separator">/</li>
  				<li><a href="archives.html">Archives</a></li>
  				<li class="nav-separator">/</li>
  				<li><a href="#">Drops</a>
  				<ul>
  					<li><a href="">If You need little more</a></li>
  					<li><a href="">Dropdown is here!</a></li>
  					<li><a href="">Oooo! So cool</a>
  					</li>
  				</ul>
  				</li>
  				<li class="nav-separator">/</li>
  				<li><a href="contact.html">Contact</a></li>  				
  			</ul>
  		</nav>
  		
  	<div class="hr-940px grid_12 "></div> <!-- Gray 1px separator -->
  	</header><!-- End of Header (Logo + Navigation) -->

  	
	<div class="grid_6 clearfix">
	<h1>Welcome!</h1>
			<p>Donec ullamcorper suscipit mi, nec commodo tellus elementum ut. Nullam rhoncus risus nec tellus pulvinar pretium.<span class="important"> Fusce tincidunt mollis velit eget euismod</span>. Donec pellentesque nibh. Cras at est eros. Praesent semper luctus aliquet. <br /><br />
			Pellentesque fringilla vehicula risus id vestibulum. <span class="important"> Sed eget turpis arcu</span>. Donec ullamcorper suscipit mi, nec commodo tellus elementum ut. Nullam rhoncus risus nec tellus pulvinar pretium.<span class="important"> Fusce tincidunt mollis velit eget euismod</span>. <br /><br />
			Donec pellentesque nibh. Cras at est eros. Praesent semper luctus aliquet.Pellentesque fringilla vehicula risus id vestibulum. <span class="important"> Sed eget turpis arcu</span>. Donec ullamcorper suscipit mi, nec commodo tellus elementum ut. Nullam rhoncus risus nec tellus pulvinar pretium.<span class="important"> 
			</p>
	</div>
		<!-- Slider of the home page -->
  	<div class="nivo-sider-wrapper grid_6 clearfix">
  	<div id="nivo-slider" class="nivoSlider-small">
  		<img src="img/placeholders/slider2-small.jpg" alt="slider" width="460" height="350" title="#htmlcaption" />
  		<img src="img/placeholders/slider3-small.jpg" alt="slider" width="460" height="350" />
  		<img src="img/placeholders/slider4-small.jpg" alt="slider" width="460" height="350" />
  		<img src="img/placeholders/slider5-small.jpg" alt="slider" width="460" height="350" />
  		<img src="img/placeholders/slider6-small.jpg" alt="slider" width="460" height="350" />
  	</div>
  	<div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a <em>HTML</em> caption with link <a href="http://www.themeforest.net?ref=ithi">themeforest.net</a>.
	</div>
  	</div>
	<!-- End of slider wrapper -->
	<div class="hr-940px grid_12 "></div> <!-- Gray 1px separator -->
  	<div class="phrase grid_12">
  	<h2>In everyday speech, a phrase may refer to any group of words. In linguistics, a phrase is a group of words which form a constituent and so function as a single unit in the syntax of a sentence.</h2>
 	</div>
	<div class="hr-940px grid_12 "></div> <!-- Gray 1px separator -->
	

	<!-- Main content of the page starts here -->
	<div id="page-content" class="clearfix">
	
		<!-- Four columns created with 4xgrid_3 class -->
		<div class="grid_3">
			<h4>Laboratory chemicals.</h4>
			<p>Pellentesque fringilla vehicula risus id vestibulum. <span class="important"> Sed eget turpis arcu</span>. Donec ullamcorper suscipit mi, nec commodo tellus elementum ut. Nullam rhoncus risus nec tellus pulvinar pretium.<span class="important"> Fusce tincidunt mollis velit eget euismod</span>. Donec pellentesque nibh. Cras at est eros. Praesent semper luctus aliquet.
			</p>
		</div>
		<div class="grid_3">
			<h4>Mathematical equation.</h4>
			<p>Suspendisse urna turpis, pharetra in suscipit quis, accumsan sit amet mauris. <span class="important">Nulla convallis luctus libero at pharetra</span>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce auctor euismod interdum. <span class="important">Mauris aliquam pharetra quam quis dictum</span>. Praesent eu convallis erat. 
			</p>
		</div>	
		<div class="grid_3">
			<h4>Physical reaction.</h4>
			<p><span class="important">Donec orci magna</span>, molestie id tincidunt et, iaculis sodales nunc. Augue eget felis viverra tempor. Mauris eleifend congue imperdiet. Vestibulum ultrices molestie nibh, in tempus dui pellentesque ac. <span class="important">Aenean eleifend facilisis mi id ornare</span>. Pellentesque laoreet, arcu vel egestas rhoncus, nulla orci euismod.			</p>
		</div>
		<div class="grid_3">
			<h4>Nuclear explosion.</h4>
			<p>Praesent eu leo ac metus volutpat faucibus. <span class="important">Nunc pharetra risus eu elit volutpat vestibulum</span>. Sed nibh lacus, egestas non feugiat vel, luctus ut sem. Nulla facilisi. <span class="important">Morbi eleifend commodo commodo</span>. Pellentesque nisl libero, congue tristique accumsan et, posuere in lorem. Morbi eleifend commodo commodo.
			</p>
		</div>
		
		<!-- End of four columns created with 4xgrid_3 class -->
		
		<div class="hr-940px grid_12"><div class="hr-460px"></div></div><!-- Gray 1px separator + 3px blue separator -->
		
		<!-- Full width important paragraph with two images -->
		<div class="grid_6">
			<h3 class="important">The Vidale-Wolfe advertising model.</h3>
			<p>Aenean eget sem non elit lacinia placerat vel vitae dolor. Aliquam ut lectus tortor, eget feugiat velit. <span class="important">Morbi velit turpis</span>, dignissim sed venenatis non, lacinia ullamcorper sem. Nullam vitae nibh in quam tristique interdum vel nec lectus. Suspendisse ut odio ac est fermentum auctor. In mattis, mi sed blandit rhoncus, <span class="important">massa augue euismod lorem</span>, vitae viverra nunc nisi eget mauris. Fusce felis ipsum, sodales vel condimentum id, pharetra ut neque.</p>
		</div>
		
		<div class="grid_3">
			<img src="img/Placeholders/220-135.jpg" alt="220-135" width="220" height="135" />
			<p class="image-description">Design of some <span class="important">Buisness Card.</span> </p>
		</div>
		<div class="grid_3">
			<img src="img/Placeholders/220-135-2.jpg" alt="220-135-2" width="220" height="135" />
			<p class="image-description">Back site of this <span class="important">Buisness Card.</span> </p>
		</div>
		
		
	</div>	<!-- End of page content -->
	
	<div class="hr-940px grid_12"></div> <!-- 1px gray separator -->
	
	</div><!-- End of main page wrapper -->
	
	
	<!-- Footer starts here -->	
	<div id="footer-wrapper" class="clearfix"><!-- Footer wrapper starts here -->
	<footer class="container_12"> <!-- Container -->
	
		<div class="twitter-footer grid_4"><!-- Twitter widget -->		
			<h5 class="important">Twitter</h5>
			<div class="tweet"></div>
			<a href="http://twitter.com/#!/envato" >Follow on Twitter →</a>
		</div>
		
		
		<div class="dribbble-footer grid_4"><!-- Dribbble widget -->
			<h5 class="important">Dribbble</h5>
			<ul id="shotsPlayerFollows" class="teaser-list"></ul>
			<a href="http://dribbble.com/Ithi">Follow on Dribbble →</a>
		</div>
		
		
		<div class="subscribe grid_4" ><!-- Subscribe widget -->
		<h5 class="important">Mailing list</h5>
		<p>Aliquam id dolor nibh, vitae porttitor erat. Duis in turpis elit, nec facilisis mauris. Donec at massa risus.s</p>
			<form id="subscribe-form" action="#">
				<input id="email" type="text" title="e-mail" value="example@mail.com" />
				<input id="footer-btn" type="button" title="Subscribe" value="Subscribe" />				
			</form>
		</div>
		
	</footer><!-- End of container -->
	</div><!-- End of wrapper -->
	
	<!-- Copyright area -->
	<div  class="container_12 clearfix" >
	<p id="copyrights-footer" class="grid_12">© Copyright 2011-2012 Ithi. All Rights Reserved</p>
	</div>
	
			
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
  <!-- Menu -->
  <script type="text/javascript" src="js/hoverIntent.js"></script>
		<script type="text/javascript" src="js/superfish.js"></script>
		<script> 
     	$(document).ready(function() { 
        $('ul#nav').superfish({ 
            delay:       1000,                            // one second delay on mouseout 
            animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
            speed:       'fast',                          // faster animation speed 
            autoArrows:  false,                           // disable generation of arrow mark-up 
            dropShadows: false                            // disable drop shadows 
        	}); 
    	}); 
 		</script>
  
  <!-- Slider -->
  <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript">
	$(window).load(function() {
    $('#nivo-slider').nivoSlider({
        effect:'random', // Specify sets like: 'fold,fade,sliceDown'
        slices:9, // For slice animations
        boxCols: 3, // For box animations
        boxRows: 3, // For box animations
        animSpeed:900, // Slide transition speed
        pauseTime:3000, // How long each slide will show
        startSlide:0, // Set starting Slide (0 index)
        directionNav:true, // Next & Prev navigation
        directionNavHide:true, // Only show on hover
        controlNav:true, // 1,2,3... navigation
        keyboardNav:true, // Use left & right arrows
        pauseOnHover:true, // Stop animation while hovering
        captionOpacity:0.8, // Universal caption opacity
        prevText: '', // Prev directionNav text
        nextText: '' // Next directionNav text
    });
});
</script>

  <!-- Quicksand(portfolio filtering) -->
	<script type="text/javascript" src="js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="js/jquery.easing.js"></script>
  
  <!-- Twitter -->
  <script type="text/javascript" src="js/jquery.tweet.js"></script>
  <script type='text/javascript'>
    $(document).ready(function(){
        $(".tweet").tweet({
            username: "ImIthi",
            outro_text: false,
            avatar_size: false,
            count: 2,
            loading_text: "Loading tweets..."
        });
    });
  </script>
  
  <!-- Dribbble -->
  <script type="text/javascript" src="js/jquery.jribbble-0.11.0.js"></script>
  <script type="text/javascript">
	$(document).ready(function (){
	$.jribbble.getShotsThatPlayerFollows('Ithi',
			function (followedShots)
			{
				var html = [];
				$.each(followedShots.shots, function (i, shot)
				{
					html.push('<li class="dribbble-item">');
					html.push('<a href="' + shot.url + '">');
					html.push('<img class="dribbble-shot link-img" src="' + shot.image_teaser_url + '" ');
					html.push('alt="' + shot.title + '">');
					html.push('</a>');
					html.push('</li>');
				});
				
				$('#shotsPlayerFollows').html(html.join(''));
			},
			{page: 1, per_page: 8}
		);}
	);
  </script>  
  
  <!-- General scripts  -->
  <script src="js/script.js"></script>
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>