- user = typeof(user) != 'undefined' ? user : {}
doctype 5
html(lang='en')
head
  meta(charset='utf-8')
  title N7
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='CSC322 Project')
  meta(name='author', content='CCNY')

  link(href='/css/bootstrap.css', rel='stylesheet')
  link(href='/css/docs.css', rel='stylesheet')
  link(href='/css/bootstrap-responsive.css', rel='stylesheet')
  link(href='/css/custom.css', rel='stylesheet')
  link(href='/css/jquery.meow.css', rel='stylesheet')
  link(href='/css/token-input.css', rel='stylesheet')
  link(href='/css/original.css', rel='stylesheet')

  script(src='/socket.io/socket.io.js')
  script(src='/js/jquery-1.8.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.js')
  script(src='/js/jquery.raty.min.js')
  script(src='/js/jquery.meow.js')
  script(src='/js/jquery.tokeninput.js')
  script(src='/js/humane.js')


body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/') Home
            li
              a(href='./getting-started.html') Popular Games
            li.active
              a(href='./scaffolding.html') New Releases
            li
              a(href='./base-css.html') Highest Rated
            li
              a(href='/games') All Games
          ul.nav.pull-right
            if (!user.email)
              li
                a(href='/login') Sign In
              li
                a(href='/register') Create Account
              li
            else
              li
                a(href='/account')
                  = user.firstName
                  |&nbsp;
                  = user.lastName
              li
                a(href='/logout') Sign Out

  header#overview.jumbotron.subhead
    .container
      h1= heading
        p.lead= lead

  .container
    block content

  footer.footer
    .container
      p.pull-right
        a(href='#') Back to top
      p
        | Add credits, thanks yous, technologies used.
        | people who have worked on this. Submit issues.
        | Look at tastekid's footer.
      p
        | Code licensed under the
        a(href='http://www.apache.org/licenses/LICENSE-2.0', target='_blank') Apache License v2.0
        | . Documentation licensed under
        a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
        | .
      p
        | Icons from
        a(href='http://glyphicons.com') Glyphicons Free
        | , licensed under
        a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
        | .
      ul.footer-links
        li
          a(href='http://blog.getbootstrap.com') Read the blog
        li
          a(href='https://github.com/twitter/bootstrap/issues?state=open') Submit issues
        li
          a(href='https://github.com/twitter/bootstrap/wiki') Roadmap and changelog


  script(src='/js/custom.js')
