extends layout

block content
  form.form-horizontal
    legend Login
    .control-group
      label.control-label(for='inputEmail') Email
      .controls
        input#inputEmail(type='text', placeholder='Email')
    .control-group
      label.control-label(for='inputPassword') Password
      .controls
        input#inputPassword(type='password', placeholder='Password')
    .control-group
      .controls
        button.btn.btn-large(type='submit') Sign in

  form.form-horizontal
      legend Don't have an account? Register!
      .control-group
        label.control-label(for='inputEmail') Email
        .controls
          input#inputEmail(type='text', placeholder='Email')
      .control-group
        label.control-label(for='inputPassword') Password
        .controls
          input#inputPassword(type='password', placeholder='Password')
      .control-group
              label.control-label(for='inputPassword') Confirm Password
              .controls
                input#inputPassword(type='password', placeholder='Confirm')
      .control-group
        .controls
          button.btn.btn-large(type='submit') Register

