extends layout

block content
  form#login.form-horizontal(method='post')
    legend Login
    .control-group
      if (message == 'OK')
        .alert.alert-success
          h4
      label.control-label(for='userEmail') Email
      .controls
        input.m-wrap.m-ctrl#userEmail(name='userEmail', type='text', placeholder='Email', autofocus='autofocus')
    .control-group
      label.control-label(for='password') Password
      .controls
        input.m-wrap.m-ctrl#password(name='password', type='password', placeholder='Password')
    .control-group
      .controls
        button.btn.btn-primary(type='submit') Sign in
