extends layout

block content
  form.form-horizontal
    legend Login
    .control-group
      label.control-label(for='inputEmail') Email
      .controls
        input#inputEmail.input-large(type='text', placeholder='Email')
    .control-group
      label.control-label(for='inputPassword') Password
      .controls
        input#inputPassword(type='password', placeholder='Password')
        span.help-block <a href="#">Forgot your password?</a>
    .control-group
      .controls
        button.btn.btn-large(type='submit') Sign in